@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
}

#navbar {
    background-color: rgb(41, 23, 0);
    padding: 0 20px;
}

.navbar-nav {
    margin-left: 20px;
}

.img-logo {
    width: 100px;
}

.nav-item .nav-link {
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
}
.nav-item .nav-link:hover {
    background-color: #964800;
    border-radius: 10px;
    color: white;
}

#home {
    background-image: url(../images/back\ 5.jpg);
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    align-items: center;
    padding: 80px 40px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#title {
    font-size: 40px;
    width: 21rem;
}
#subtitle {
    font-size: 20px;
    width: 32rem;
}
#button-home {
    background-color: #C26914;
    border: none;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 15px 40px;
    width: 20rem;
}
#button-home:hover {
    background-color: #964800;
    color: white;
}

#about {
    margin-bottom: 20vh;
}
#about .container {
    padding-top: 70px;
}
.heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
    font-weight: 700;
}
.heading span {
    color: #964800;
}
#about .card {
    border-radius: 10px;
}
#about .card img {
    border-radius: 10px;
}
.container p {
    font-size: 15px;
    text-align: justify;
    margin-top: 23px;
}
.button-about {
    background-color: #C26914;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 15px;
    margin-top: 23px;
    width: 15rem;
}
.button-about:hover {
    background-color: #7a3c02;
}

.top-cards {
    width: 100%;
}
.heading-two {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
    font-weight: 700;
}
.heading-two span {
    color: #964800;
}
.top-cards .container {
    margin-top: 30px;
}
.top-cards .card {
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.top-cards .card img {
    border-radius: 10px;
}
.top-cards .card:hover {
    transform: translateY(-10px);
}


#menu {
    width: 100%;
    margin-top: 60px;
}
.heading-three {
    text-align: center;
    font-size: 30px;
    color: #964800;
    font-weight: 700;
}
#container2 {
    margin-top: 20px;
}
#container2 .row {
    margin-bottom: 20px;
}
#menu .card {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.star i {
    color: #7a3c02;
}
#menu h3 {
    text-align: center;
    margin-top: 10px;
}
#menu p {
    font-size: 16px;
    padding-top: 10px;
}
#menu p span {
    float: right;
    cursor: pointer;
}



#contact {
    width: 100%;
    padding-top: 70px;
}
#contact .container {
    width: 100%;
    height: 80vh;
    background: linear-gradient(90deg, white 80%, #964800 20%);
    border-radius: 10px;
}
.heading-four {
    font-size: 30px;
    font-weight: 700;
    margin-top: 70px;
}
.heading-four span{
    color: #964800;
}
#contact p {
    font-weight: 700;
    border: none;
    font-weight: 500;
    width: 500px;
}
#contact input {
    width: 360px;
    border: none;
    border-bottom: 1px solid #C26914;
}
#button-contact {
    width: 200px;
    height: 36px;
    border: none;
    border-radius: 10px;
    background: #964800;
    color: white;
    font-weight: 700;
    margin-top: 30px;
    cursor: pointer;
}
#col {
    width: 40%;
    height: 56vh;
    background: black;
    margin-top: 78px;
}
#contact h1 {
    color: white;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
}
#contact #col p {
    font-size: 15px;
    font-weight: 500;
    color: white;
    margin-left: 13px;
    margin-top: 30px;
    width: 350px;
}



#footer {
    width: 100%;
    background-color: rgb(92, 52, 0);
    margin-top: 50px;
}
.footer-logo img {
    width: 140px;
    margin-top: 30px;
    cursor: pointer;
}
.social-links {
    margin-top: 40px;
}
.social-links i {
    background: rgb(129, 84, 0);
    color: white;
    font-size: 25px;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
.copyright {
    color: white;
    margin-top: 40px;
}
.copyright span {
    color: rgb(255, 255, 255);
}
.arrow-up {
    color: white;
    font-size: 50px;
    position: fixed;
    right: 50px;
    bottom: 40px;
}

html {
    scroll-behavior: smooth;
}

@media (max-width: 1199px) {
    #about .container p {
        font-size: 10px;
    }
}

@media (max-width: 992px) {
    #contact #col p {
        width: 200px;
    }
    #contact .contact-info {
        width: 400px;
    }
}

@media (max-width: 767px) {
    #about h3 {
        margin-top: 20px;
    }
    #contact .container {
        background: white;
    }
    #col {
        width: 100%;
    }
    #contact #col p {
        width: 450px;
    }
    #contact {
        height: 150vh;
    }
}

@media (max-width: 553px) {
    #home .content #subtitle {
        font-size: 15px;
        width: 20rem;
    }
}

@media (max-width: 511px) {
    #about .container p {
        width: 400px;
        font-size: 13px;
    }
    #contact #col p {
        width: 300px;
    }
}

@media (max-width: 429px) {
    #home #button-home {
        width: 200px;
        font-size: 15px;
    }
    #about .row p {
        width: 350px;
    }
    #contact .contact-info {
        width: 350px;
    }
}
@media (max-width: 400px) {
    #home .content #title {
        font-size: 20px;
    }
    #contact input {
        width: 250px;
    }
    #about .row p {
        width: 300px;
    }
    #contact .contact-info {
        width: 300px;
    }
    .copyright {
        font-size: 12px;
    }
    .heading, .heading-two, .heading-three, .heading-four {
        font-size: 24px;
    }
}

@media (max-width: 375px) {
    #home .content #subtitle {
        width: 15rem;
    }
    #about .row p {
        width: 300px;
    }
    #contact .contact-info {
        width: 300px;
    }
    .copyright {
        font-size: 12px;
    }
}